#workspace stuff
.vs/*
.vscode/*
.env
.eslintrc.json
.jsbeautifyrc
bot.code-workspace

#unneeded folders
JSVersion/*
node_modules/*
.git/*
logs/*

#no config
/config/*
!/config/config.json
!/config/jokes.txt

#files
*.map
*.tsbuildinfo

#deploy
*.sh
ecosystem.config.js